In [2]:
import seaborn

In [12]:
import pandas as pd
import numpy as np
ser = pd.Series(np.take(list('abcdefgh'), np.random.randint(8, size=30)))
print(ser)
ser.value_counts()

0     f
1     f
2     f
3     e
4     f
5     e
6     d
7     e
8     h
9     g
10    e
11    a
12    c
13    b
14    a
15    b
16    f
17    a
18    e
19    f
20    c
21    h
22    b
23    e
24    c
25    g
26    d
27    f
28    f
29    e
dtype: object

f    8
e    7
a    3
c    3
b    3
d    2
h    2
g    2
Name: count, dtype: int64

In [14]:
ser1 = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))
print(ser1)
ser2 = pd.Series(np.arange(26))
ser2

0     a
1     b
2     c
3     e
4     d
5     f
6     g
7     h
8     i
9     j
10    k
11    l
12    m
13    n
14    o
15    p
16    q
17    r
18    s
19    t
20    u
21    v
22    w
23    x
24    y
25    z
dtype: object

0      0
1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
11    11
12    12
13    13
14    14
15    15
16    16
17    17
18    18
19    19
20    20
21    21
22    22
23    23
24    24
25    25
dtype: int64

In [ ]:

# 1. Python dict, ndarray and series - accepted as input by DataFrame
# 2. Apply fn in Pandas lib allows you to manipulate data and create new variables
# 3. to_text is an invalid writer fn in Pandas
# 4. Both Series and ndarrays can be passed as arguments to Numpy functions
# 5. The major difference between Series and ndarray is that the data is arranged based on label in Series, when Series is operated on.
# 6. A DataFrame is NOT similar to a fixed-size dict
# 7. Q:
# dataset = np.array(['paul', 'jacob', 'vince', 'paul', 'miky', 'jacob', 'warren'])
# new_var = (dataset == 'paul') | (dataset == 'jacob')
# Out:
# [ True True False True False True False]
# 8. Q:
# series = [[23,45,12,679], [14,48,69,38]]
# new_series = np.array(series)
# print (new_series.ndim)
# print (new_series.shape)
# print (new_series.dtype)
# Out:
# 2 (2, 4) int32
# 9. Q.
# di = {'one' : np.random.rand(10),
#      'two' : np.random.rand(10)}
# df = pd.DataFrame(di)
# Plot this df
# Out:
# df.plot(style=['o','rx'])
# 10. Q:
# Which of these methods can be used to check if a dataframe has any missing values?
# df = pd.read_csv(‘any_randon_csv_file.csv’)
# Out:
# df.isnull().values.any()
# df.isnull().all()
# 11. Q:
# Which of the following options can be used to combine many series to form a dataframe?
# ser1 = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))
# ser2 = pd.Series(np.arange(26))
# Out:
# df = pd.concat([ser1, ser2], axis=1)
# df = pd.DataFrame({'col1': ser1, 'col2': ser2})
# 12. Q.
# Calculte the frequency counts of each unique value in ser.
# ser = pd.Series(np.take(list('abcdefgh'), np.random.randint(8, size=30)))
# Out:
# ser.value_counts()